@using PagedList;
@using PagedList.Mvc;
@model IPagedList<SkolaProjekt.Models.Skola>
<br />
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Dodaj novu školu", "Create")
    </p>
}
@using (Html.BeginForm("Index", "Skola", FormMethod.Get))
{
    @Html.TextBox("search")
    <input type="submit" value="Pretraži" />
}
<br />
<table class="table" border="1" align="center" style="text-align:center">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Naziv)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Mjesto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().Adresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().WebStranica)
        </th>
        <th>Djelatnici</th>
        @if (User.IsInRole("Admin"))
        {
            <th>Action</th>
        }
    </tr>

    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="6">
                <text>Nema rezultata</text>
            </td>
        </tr>
    }
    else
    {
        foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Naziv)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Mjesto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Adresa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.WebStranica)
                </td>
                <td>
                    @Html.Partial("_AllSkolaDjelatnik", item)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                    </td>
                }
            </tr>
        }
    }


</table>
